*{
	margin: 0px;
	padding: 0px;
}
body{
	font-size: 14px;
	line-height: 24px;
	font-family: 'Poppins', sans-serif;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Poppins', sans-serif;
}
a, a:hover{
	text-decoration: none;
}
.text-right{
	text-align: right !important;
}
/*header section code start here*/
.header-section{
	width: 100%;
	background-color: #daac00;
}
.header-section .bg-light{
	background: transparent !important;
	padding: 30px 0px;
}
.header-section .navbar-light .navbar-nav .nav-link.active{
    color: #00bec9;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 1.2px;
    margin: 0px 30px 0px 50px;
    text-transform: capitalize;
}
.header-section .navbar-light .navbar-nav .nav-link.active:hover,.header-section .navbar-light .navbar-nav .nav-link:hover{
	color: #00bec9;
	font-weight: 500;
	letter-spacing: 1.2px;
}
.header-section .navbar-light .navbar-nav .nav-link{
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    margin: 0px 30px 0px 50px;
    text-transform: capitalize;
    letter-spacing: 1.2px;
} 
.header-section .d-flex .form-control{
    display: block;
    width: 100%;
    padding: 10px 0px 10px 15px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-radius: 0px;
    background-color: #fcc302;
    background-clip: padding-box;
    border: transparent !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-size: 18px;
}
.header-section .d-flex .form-control:hover, .header-section .d-flex .form-control:focus{
	box-shadow: 2px 2px 10px #000;
	cursor: pointer;
}
.header-section .d-flex{
	position: relative;
	padding: 0px 0px;
}
.header-section .d-flex .form-control::placeholder{
	color: #fff;
}
.header-section .d-flex .btn-outline-success{
	position: absolute;
	right: 0;
	padding: 10px;
	border: none;
	border-radius: 0px;
	background: #00bec9;
}
.header-section .d-flex .fa-search{
	padding: 0px 5px;
	color: #fff;
	font-size: 25px;
}
.header-section .d-flex .fa-search:hover{
	color: #fcc302;
}
/*header section code end here*/
/*banner-section code start here*/
.banner-section{
	width: 100%;
	background: url("../images/bonner.png") center top no-repeat;
	background-size: cover;
}
.banner-section .inner-banner{
	width: 100%;
	padding: 120px 0px 120px;
	overflow: hidden;
}
.banner-section .inner-banner h1{
	padding: 120px 0px 0px;
	font-size: 65px;
	line-height: 80px;
	width: 50%;
	color: #fff;
	font-weight: 600;
}
.banner-section .inner-banner p{
	width: 44%;
	font-size: 22px;
	line-height: 32px;
	color: #fff;
	margin: 50px 0px;
}
.banner-section .inner-banner .btn-group{
	padding: 40px 0px;
	margin: 0px 0px 80px;
}
.banner-section .inner-banner .btn-group .btn-success{
	padding: 12px 30px;
	margin-right: 35px;
	font-size: 18px;
	font-weight: 600;
	color: #fff;
	text-transform: capitalize;
	letter-spacing: 1px;
	background: #00bec9;
	cursor: pointer;
	border: none;
}
.banner-section .inner-banner .btn-group .btn-success:hover{
	padding: 12px 30px;
    font-size: 18px;
    font-weight: 600;
    color: #00bec9;
    text-transform: capitalize;
    letter-spacing: 1px;
    background: #fff !important;
	border: #fff;
	transition: ease.5s;
}
.banner-section .inner-banner .btn-group .btn-info{
    padding: 10px 28px;
    font-size: 18px;
    font-weight: 600;
    color: #00bec9;
    text-transform: capitalize;
    letter-spacing: 1px;
    background: #fff;
	border: #fff;
	/*transition: ease .5s;*/
}
.banner-section .inner-banner .btn-group .btn-info:hover{
	background: #00bec9;
	color: #fff;
	cursor: pointer;
	border: none;
}
/*banner-section code end here*/
/* love-animal section code start here*/
.love-animal{
	width: 100%;
	padding: 80px 0px;
}
.love-animal .inner-love-animal{
	width: 100%;
	padding: 50px 0px;
}
.love-animal .inner-love-animal h4{
	font-size: 52px;
	font-weight: 600;
	line-height: 62px;
}
.love-animal .inner-love-animal p{
    font-size: 32px;
    line-height: 44px;
    margin: 52px 0px;
}
.love-animal .inner-love-animal .btn-group .btn-info{
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1.2px;
    padding: 15px 25px;
    background: #eaae00;
    color: #fff;
    border: #eaae00;
}
.love-animal .inner-love-animal .btn-group .btn-info:hover{
	background: #00bec9;
    color: #fff;
    border: #00bec9fc;
    transition: .5s;
}
.love-animal .inner-love-animal .btn-group .btn-info:hover{
	background-color: 
}

.love-animal .inner-love-animal-two{
	width: 100%;
	padding: 50px 0px;
	margin: 0px auto;
	position: relative;
}
.love-animal .inner-love-animal-two img{
	width: 80%;
	margin: 0px auto;
	/*-webkit-filter: blur(1.2px); 
	 filter: blur(1.2px);*/
	border-radius: 10px;
	/*cursor: pointer;*/
}
/*.love-animal .inner-love-animal-two img:hover .love-animal .inner-love-animal-two .hover{
 	display: block;
 	cursor: pointer;
}*/
.love-animal .inner-love-animal-two .hover{
	/*display: none;*/
	transition: ease .5s;
	position: absolute;
	top: 50px;
	background-color: /*rgba(0, 0, 0, 0.6 )*/#00bec98a;
	right: 2px;
	left: 0px;
	bottom: 0px;
	width: 80%;
	height: 83%;
	border-radius: 10px;
	cursor: pointer;
}

/* love-animal section code end here*/
/*title-section code start here*/
.title-section{
	width: 100%;
	    padding: 80px 0px 100px;
	background-color: #fcc302;
}
.title-section .inner-title-full-width{
	padding: 20px 0px 60px;
	text-align: center;
}
.title-section .inner-title-full-width h5{
	font-size: 68px;
	font-weight: 500;
	letter-spacing: 5.2px;
	color: #fff;
}
.title-section .inner-title-full-width p{
	font-size: 24px;
	width: 46%;
	margin: 25px auto;
	line-height: 40px;
	letter-spacing: 1.2px;
	color: #fff;
}
.inner-title-image{
	width: 100%;
	text-align: center;
}
.inner-title-image img{

}
.inner-title-image h4{
	font-size: 28px;
	width: 62%;
	font-weight: 600;
	margin: 20px auto;
	color: #fff;
}
.inner-title-image h4 del{
	font-size: 50px;
}

.inner-title-image p{	
	font-size: 20px;	
	width: 74%;	
	text-align: center;
	margin: 0px auto;	
	color: #fff;
	letter-spacing: 1px;
	line-height: 30px;
}
.inner-title-image .btn-info{
	font-size: 22px;
	color: rgba(255, 255, 255, .7);
	font-weight: 500;
	letter-spacing: 1.2px;
	padding: 10px 35px;
	border-radius: 30px;
	transition: ease .5s;
}
.inner-title-image .btn-info:hover{
	background-color: #fff !important;
	border: #fff !important;
	color: #fcc302;
}
/*title-section code end here*/
/*vetcare team section code start here*/
.vetcare-team{
	width: 100%;
	padding: 80px 0px 100px;
	background-color: #fff;
}
.vetcare-team .inner-title-full-width{
	padding: 20px 0px 60px;
	text-align: center;
}
.vetcare-team .inner-title-full-width h5{
	font-size: 68px;
	font-weight: 500;
	letter-spacing: 5.2px;
	color: #000;
}
.vetcare-team .inner-title-full-width p{
	font-size: 36px;
	width: 74%;
	margin: 25px auto;
	line-height: 52px;
	letter-spacing: 1.2px;
	color: #000;
	font-weight: 500;
}
.inner-title-image{
	width: 100%;
	text-align: center;
}
.inner-title-image h4{
	font-size: 32px;
	width: 70%;
	font-weight: 600;
	margin: 20px auto;
	color: #fff;
}
.inner-title-image h5{
	font-size: 24px;
	font-weight: 500;
	line-height: 10px;
}
.inner-title-image ul{
	display: block;
	width: 100%;
}
.inner-title-image ul li{
	display: inline-block;
	float: left;
	list-style: none;
}
.inner-title-image ul li a{
	margin-left: 33px;
	margin-top: 30px;
	text-align: center;
	width: 45px;
	display: block;
	background: #fcc302;
	color: #fff;
	font-size: 20px;
	padding: 15px;
	border-radius: 50%;
	height: 45px;
	line-height: 18px;
}
.inner-title-image ul li a:hover{
	background-color: #0dcaf0;
}
.inner-title-image h4 del{
	font-size: 50px;
	margin-right: 25px;
}

.inner-title-image p{	
	font-size: 20px;	
	width: 74%;	
	text-align: center;
	margin: 0px auto;	
	color: #fff;
	letter-spacing: 1px;
	line-height: 30px;
}
.inner-title-image .btn-info{
	font-size: 22px;
	color: #fff;
}
.inner-title-image .btn-info:hover{
	background-color: #fff !important;
	border: #fff !important;
	color: #fcc302;
}
/*vetcare team section code start here*/

/*satisfy-clints section code start here*/
.satisfy-clints{
	width: 100%;
	padding: 180px 0px;
	background-image: linear-gradient(to left, rgba(252, 195, 2, .5 ),rgba(252, 195, 2, .5 )) ,url("../images/banner7.png");
	/*background-image: linear-gradient(to left, rgba(109, 179, 242, .6), rgb(228 204 194)), url('../images/banner7.png');*/
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
}
/*satisfy-clints section code end here*/
/*vetcare team section code start here*/
.resent-post{
	width: 100%;
	padding: 80px 0px 100px;
	background-color: #efeeee;
}
.resent-post .inner-title-full-width{
	padding: 20px 0px 60px;
	text-align: center;
}
.resent-post .inner-title-full-width h5{
	font-size: 68px;
	font-weight: 600;
	letter-spacing: 5.2px;
	color: #000;
}
.resent-post .inner-title-full-width p{
	font-size: 36px;
	width: 74%;
	margin: 25px auto;
	line-height: 52px;
	letter-spacing: 1.2px;
	color: #000;
	font-weight: 500;
}
.inner-title-image-hyper{
	width: 100%;
	padding: 5px;
	text-align: center;
	background-color: #ffff;
	transition: ease .8; 
}
.inner-title-image-hyper img{
	width: 100% !important;
	padding: 0px !important;
}
.inner-title-image-hyper h4{
	font-size: 32px;
	width: 100%;
	font-weight: 600;
	margin: 20px auto;
	text-align: left;
	color: #000;
}
.inner-title-image-hyper .fist{
	text-align: left !important;
	color: #00bec9 !important;
	width: 100%;
	font-size: 22px;
	font-weight: 500;
}
.inner-title-image-hyper .tow{
	width: 100%;
	color: #000;
	text-align: left;
	margin: 16px 0px 0px;
	font-size: 20px;
	font-weight: 400;
}
.inner-title-image-hyper .three{
	width: 100%;
	text-align: left;
	display: block;
	font-size: 24px;
	margin: 30px 0px;
	color: #00bec9 !important;
}
.inner-title-image-hyper h5{
	font-size: 24px;
	font-weight: 500;
	line-height: 10px;
}
.inner-title-image-hyper p{	
	font-size: 20px;	
	width: 74%;	
	text-align: center;
	margin: 0px auto;	
	color: #fff;
	letter-spacing: 1px;
	line-height: 30px;
}
.inner-title-image-hyper .ext{
	width: 100%;
	padding: 20px;
}
.inner-title-image-hyper:hover{
	box-shadow: 0px 4px 13px;
	cursor: pointer;
}
/*vetcare team section code start here*/
/*last-section code start here*/
.last-section{
	width: 100%;
	padding: 80px 0px;
	background-color: #343434;
}
.last-section .inner-last-section-fist{
	width: 100%;
}
.last-section .inner-last-section-fist h4{
	font-size: 26px;
	color: #fff;
	margin-bottom: 24px;
	letter-spacing: 1.2px;
	font-weight: 500;
}
.last-section .inner-last-section-fist ul{
	width: 100%;
	padding: 0px !important;
	margin: 0px !important;
}
.last-section .inner-last-section-fist ul li{
	list-style: none;
	font-size: 20px;
	font-weight: 500;
	color: #fff;
	color: #fff;
	line-height: 36px;
}
.last-section .inner-last-section-fist ul li a{
	color: #c3c1c1;
    letter-spacing: 1.2px;
}
.last-section .inner-last-section{
	width: 100%;
}
.last-section .inner-last-section h4{
	font-size: 26px;
	color: #fff;
	margin-bottom: 24px;
	letter-spacing: 1.2px;
	font-weight: 500;
}
.last-section .inner-last-section ul{
	width: 100%;
	padding: 0px !important;
	margin: 0px !important;
}
.last-section .inner-last-section ul li{
	list-style: none;
	font-size: 20px;
	font-weight: 500;
	color: #fff;
	color: #fff;
	line-height: 36px;
}
.last-section .inner-last-section ul li a{
	color: #c3c1c1;
    letter-spacing: 1.2px;
}
.last-section .inner-sec-part{
	width: 100%;
}
.last-section .inner-sec-part h4{
	text-align: right;
	font-size: 32px;
	color: #fff;
	font-weight: 600;
	letter-spacing: 4.2px;
	margin: 0px 0px 20px;
}
.last-section .inner-sec-part p{
	text-align: right;
	font-size: 22px;
	color: #fff;
	font-weight: 400;
	margin-bottom: 20px;
	letter-spacing: 1.2px;
}
.last-section .inner-sec-part ul{
	display: block;
	text-align: right;
}
.last-section .inner-sec-part ul li{
	display: inline-block;
	margin-left: 25px;
}
.last-section .inner-sec-part ul li a{
	width: 20px;
	padding: 20px;
	height: 20px;
	background: #fff;
	border-radius: 50%;
	line-height: 115px;
}
.last-section .inner-sec-part ul li a .fa{
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
    color: #343434;
}
.last-section .inner-sec-part ul li a:hover{
	background: #00bec9;
	color: #ffff;
}
.inner-sec-part .d-flex .form-control{
    display: block;
    width: 100%;
    padding: 10px 0px 32px 15px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-radius: 0px;
    background-color: #fcc302;
    background-clip: padding-box;
    border: transparent !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-size: 18px;
}
.inner-sec-part .d-flex .form-control:hover, .inner-sec-part .d-flex .form-control:focus{
	box-shadow: 2px 2px 10px #000;
	cursor: pointer;
}
.inner-sec-part .d-flex{
	position: relative;
	padding: 0px 0px;
}
.inner-sec-part .d-flex .form-control::placeholder{
	color: #fff;
	font-size: 24px;
}
.inner-sec-part .d-flex .btn-outline-success{
	position: absolute;
	right: 0;
	padding: 15.5px;
	border: none;
	border-radius: 0px;
	background: #00bec9;
}
.inner-sec-part .d-flex .fa-search{
	padding: 0px 5px;
	color: #fff;
	font-size: 36px;
}
.inner-sec-part .d-flex .fa-search:hover{
	color: #fcc302;
}
/*last-section code end here*/
